<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jim.addressbook">



    <application
        android:allowBackup="true"
        android:icon="@drawable/photo1"
        android:label="通讯录"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <uses-permission android:name="android.permission.SEND_SMS" />
                <uses-permission android:name="android.permission.CALL_PHONE" />
            </intent-filter>
        </activity>
        <activity android:name=".InputActivity" />
        <activity android:name=".CallActivity" />

        <activity android:name=".EditActivity"></activity>
    </application>

</manifest>